*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 1024px;
   margin: auto;
}
body{
    width: 100%;
    height: 100%;
    transition: background 0.2s linear;
}
body.dark {
    background-color: #0e0d0d;
    color: #fff;
}
.checkbox{
    opacity: 0;
    position: absolute;
}
.label{
    background-color: #111;
    width: 70px;
    border-radius: 50px;
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.label > .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    height: 30px;
    width: 30px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked + .label > .ball{
    transform: translateX(36px);
}
#icon, .fas{
    width: 30px;
}
@font-face {
    font-family: Caly;
    src: url(../calinastiya/Calinastiya.ttf);
}
head .white{
    background-color: #fff;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header > .redeSocial{
    padding: 10px;
}
header > .icone{
    padding: 10px;
}
.apresentacao{
    width: 500px;
    float: left;
    flex-wrap: wrap;
}
#img-persona{
    border: 1px solid #d3d3d3;
    width: 100px;
    border-radius: 50px;
    margin: auto;
    display: block;
}
.apresentacao > h1{
    font-size: 200px;
    font-family: Caly;
    text-align: center;
}
.apresentacao > p{
    text-align: center;
}
.projetos{
    height: 350px;
    width: 500px;
    float: right;
    flex-wrap: wrap;
}
.projetos > h1{
    font-family: Caly;
    font-size: 80px;
    text-align: center;
}
.carousel-inner > .carousel-item > a > img{
    border-radius: 10px;
    border: 1px solid #d3d3d3;
}
footer{
    margin-top: 400px;
    width: 100%;
    text-align: right;
}
footer > p{
    font-weight: 500;
}

@media (min-width: 320px) and (max-width: 425px){
    .apresentacao{
        width: 100%;
        margin-bottom: 40px;
    }
    .apresentacao > h1{
        font-size: 100px;
           
    }
    .apresentacao > p{
        width: 300px;
        margin: auto;
    }
    .projetos{
        width: 100%;
    }
    .projetos > #carrossel{
        padding: 10px;
    }
    footer{
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .apresentacao{
        width: 100%;
        margin-bottom: 40px;
    }
    .apresentacao > h1{
        font-size: 200px;

    }
    .apresentacao > p{
        width: 400px;
        margin: auto;
        font-size: 20px;
    }
    .projetos{
        width: 100%;
    }
    .projetos > #carrossel{
        padding: 10px;
    }
    footer{
        margin-top: 1000px;
        text-align: center;
     }
}